<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image ,class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        一般価格：¥ <%= @item.price %>
        <br>会員価格：¥ <%= @item.price_discrimination %>
      </span>
      <span class="item-postage">
      </span>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @item.user_id %>
      <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy' %>
      <% else %>
          <%= link_to '購入画面に進む', item_orders_path(@item.id) ,class:"item-red-btn"%>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.info %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">受渡方法</th>
          <td class="detail-value"><%= @item.delivery.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
      <p>
      <h6 class = "attention">※スタジアム受取希望の場合、購入手続き後、3日以内に連絡下さい<h6>
      </p>
  <div class = "foot">
    <%= link_to '戻る', items_path, method: :get %>
  </div>
</div>